CoreApiWithEntity/.vs/
CoreApiWithEntity/CoreApiWithEntity/bin/
CoreApiWithEntity/CoreApiWithEntity/obj/
CoreApiWithEntity/CoreApiWithEntity.BLL/bin/
CoreApiWithEntity/CoreApiWithEntity.BLL/obj/
CoreApiWithEntity/CoreApiWithEntity.DAL/bin/
CoreApiWithEntity/CoreApiWithEntity.DAL/obj/

